<section id="about">
	<div class="container">
		<%= image_tag "intro-photo.jpg" %>
		<%= t('home.intro_html') %>
		<div id="farmer-profile">
			<div id="farmer-profile-intro">
				<div id="farmer-profile-intro-image">
					<%= image_tag "farmer-ai-profile.jpg" %>
				</div>
				<div id="farmer-profile-intro-content">
					<h3><%= t('home.farmer_profile_title') %></h3>
					<%= t('home.farmer_profile_intro_html') %>
				</div>
			</div>
			<div id="farmer-profile-history">
				<%= t('home.farmer_profile_history_html') %>
			</div>
		</div>
	</div>
</section>
<section id="veggies">
	<h2><%= t('veggie_boxes.heading') %></h2>
	<div class="container">
		<div id="seasonal-veggies">
			<%= render "veggie_boxes/veggie_box" %>
		</div>
	</div>
</section>
<section id="order">
	<h2><%= t('orders.title') %></h2>
	<div class="container">
		<div id="form">
			<h3><%= t('orders.flow.heading') %></h3>
			<div id="order-flow">
				<div class="order-flow-step">
					<div class="order-flow-step-number">1</div>
					<div class="order-flow-step-text">
						<%= t('orders.flow.step_1') %>
					</div>
				</div>
				<div class="order-flow-step">
					<div class="order-flow-step-number">2</div>
					<div class="order-flow-step-text">
						<%= t('orders.flow.step_2') %>
					</div>
				</div>
				<div class="order-flow-step">
					<div class="order-flow-step-number">3</div>
					<div class="order-flow-step-text">
						<%= t('orders.flow.step_3') %>
					</div>
				</div>
			</div>
			<p id="payment-info"><small><%= t('orders.flow.payment_info') %></small></p>
			<h3 id="form-title"><%= t('orders.form.title') %></h3>
			<%= render "orders/form" %>
		</div>
	</div>
</section>
