<%= form_for @order do |f| %>
	<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name %>
	</div>
	<div class="form-group">
			<%= f.label :email %>
			<%= f.text_field :email %>
	</div>
	<div class="form-group">
			<%= f.label :address %>
			<%= f.text_field :address, placeholder: true %>
	</div>
	<div class="form-group">
			<%= f.label :phone %>
			<%= f.text_field :phone %>
	</div>
	<div class="form-group">
			<%= f.label :message %>
			<%= f.text_area :message, rows: 10, placeholder: true %>
	</div>
	<%= f.submit t('orders.form.submit'), id: "submit" %>
<% end %>
