<section id="orders">
	<div class="container narrow">
		<h1><%= t('orders.index.title') %></h1>
		<div class="orders">
		<% if @orders.size > 0 %>
			<% @orders.each do |order| %>
				<div class="orders__item">
					<p class="orders__item__name"><%= order.name %></p>
					<p class="orders_item_date"><%= l(order.created_at, format: :no_time) %></p>
					<p class="orders__item__email"><%= order.email %></p>
					<p class="orders__item__phone"><%= order.phone %></p>
					<p class="orders__item__address"><%= order.address %></p>
					<p class="orders__item__message"><%= order.message %></p>
				</div>
			<% end %>
		<% else %>
			<div class="orders orders--none">
				<%= t('orders.index.no_orders') %>
			</div>
		<% end %>
		</div>
	</div>
</section>