<header>
	<nav>
	  <ul id="menu">
	  	<li><%= link_to t('menu.home'), root_path %></li>
	    <li><%= link_to t('menu.farm'), '#about', id: "about-link" %></li>
	    <li><%= link_to t('menu.veggies'), '#veggies', id: "veggies-link" %></li>
	    <li><%= link_to t('menu.order'), '#order', class: "order-link" %></li>
	    <li><%= link_to t('menu.blog'), posts_path %></li>
	    <li><%= link_to t('menu.language'), other_locale %></li>
	    <% if logged_in? %>
	    	<li><%= link_to t('menu.new_blog'), new_post_path %></li>
	    <% end %>
	    <li id="menu-close"><%= link_to t('menu.menu_close'), "#" %></li>
	  </ul>
	  <%= link_to t('menu.menu'), "#", id: "menu-button" %>
	</nav>
	<%= image_tag 'kuwa-logo.png', id: "logo" %>
	<h1><%= t('site_title') %></h1>
</header>