<header>
	<nav>
	  <ul id="menu" class='hidden'>
	  	<li><%= link_to t('menu.home'), root_path %></li>
	    <li><%= link_to t('menu.farm'), root_path(anchor: 'about'), id: "about-link" %></li>
	    <li><%= link_to t('menu.veggies'), root_path(anchor: 'veggies'), id: "veggies-link" %></li>
	    <li><%= link_to t('menu.order'), root_path(anchor: 'order'), id: "order-link" %></li>
	    <li><%= link_to t('menu.blog'), posts_path %></li>
	    <li><%= link_to t('menu.language'), root_path(locale: other_locale) %></li>
	    <% if logged_in? %>
	    	<li><%= link_to t('menu.new_blog'), new_post_path %></li>
	    <% end %>
	    <li id="menu-close"><%= link_to t('menu.menu_close'), "#" %></li>
	  </ul>
	  <%= link_to t('menu.menu'), "#", id: "menu-button", class: "active" %>
	</nav>
	<%= image_tag 'kuwa-logo.png', id: "logo" %>
	<h1><%= t('site_title') %></h1>
</header>