<!DOCTYPE html>
<html>
  <head>
    <title><%= t('site_title') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="admin <%= controller_name %> <%= action_name %>">
    <header class="header">
      <nav class="header__nav container">
        <%= link_to t('menu.home'), root_path %>
        <%= link_to t('menu.new_blog'), new_post_path %>
        <%= link_to t('menu.order_list'), orders_path %>
      </nav>
    </header>
      
    <% flash.each do |message_type, message| %>
      <div class="container">
        <div class="alert alert-<%= message_type %>"><%= message.html_safe %></div>
      </div>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' %>
    
    <%= debug(params) if Rails.env.development? %>
    <%= javascript_pack_tag 'home' %>
  </body>
</html>