<!DOCTYPE html>
<html>
  <head>
    <title>AichanVeggieBox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= t('site_title') %></h1>
    </header>
    
    <%= yield %>

    <footer>
      <p><%= t('copyright') %></p>
    </footer>
  </body>
</html>
